@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.App {
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.input {
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid;
}

button {
    background-color: rgb(72, 145, 214);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

table {
    width: 100%;
    margin-top: 1rem;
}

table,
td,
th {
    border: 1px solid;
    border-collapse: collapse;
    padding: 0.5rem;
}